@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, forest --prefersdark, all;
}

@theme {
  --font-inconsolata: "Inconsolata", monospace;
  --font-balooda2: "Baloo Da 2", sans-serif;
}

html {
  font-family: var(--font-inconsolata);
}
.card-border {
  border: 1px solid var(--tw-border-color);
}

.card-dash {
  border-style: dashed;
}

.patternbg {
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-base-100),
    var(--color-base-100) 13px,
    var(--color-base-200) 13px,
    var(--color-base-200) 14px
  );
}
